
<div class="container">
    <div class="col-6">
        <h2>New User</h2>

        <form action="/auth/signin" method="post">
            <%- include('_form_fields') %>
            <div>
                <p class="text-danger"><%- include('../partials/errorMessage') %></p>
            </div>
            <a class="btn btn-danger" href="/api">Cancel</a>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>