<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Haircut Users</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/user">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/user/new">New User</a>
      </li>
    </ul>
  </nav>
</header>